.footer {
	background-color:#071218;
	padding: 5px 0 5px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
	text-align: center;
}


.Users {
	background-color: #0b2533;
	padding: 5px 0 5px;
	font-size: 15px;
	line-height: 24px;
	color: #d1cdcd;
	text-align: center;
}

.About {
	background-color: #0b2533;
	padding: 5px 0 5px;
	font-size: 15px;
	line-height: 24px;
	color: #d1cdcd;
	text-align: center;
}
